<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="video/background.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Mix your fridge</h1>
        <p class="lead mb-0">Cook your own</p>
      </div>
    </div>
  </div>
</header>

<div class="container h-100 meall">
  <div class="mealcont">
    <div class="mealhead">
      <div>
        <img src="{{meal.strMealThumb}}">
      </div>
      <div class="mealname">
        <h2>{{meal.strMeal}}</h2>
        <b>Category:{{meal.strCategory}}</b>
        <b>Area: {{meal.strArea}}</b><br>
        <b>Ingredients:</b>
        <p>{{meal.strMeasure1}} {{meal.strIngredient1}}<br>
          {{meal.strMeasure2}} {{meal.strIngredient2}}<br>
          {{meal.strMeasure3}} {{meal.strIngredient3}}<br>
          {{meal.strMeasure4}} {{meal.strIngredient4}}<br>
          {{meal.strMeasure5}} {{meal.strIngredient5}}<br>
          {{meal.strMeasure6}} {{meal.strIngredient6}}
        </p>

      </div>
    </div>
    <div class="mealdescr">
      <h3 align="center">How to Cook</h3>
      <p>{{meal.strInstructions}}</p>
    </div>
  </div>
</div>
<br>
<div class="app">
<a href="/"><button class="btn btn-primary btn-lg btn-block">Home</button></a>
<br>
<form method="GET" action="/random">
  <button id="random" type="submit" class="btn btn-primary btn-lg btn-block">Get another dish</button>
</form>
</div>
<br>
